name: Base
on:
 workflow_call:
  inputs:
      compiler:
        required: true
        type: string
      os:
        required: true
        type: string
jobs:
  install:
    name: Install
    runs-on: ${{ inputs.os }}
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ inputs.compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ inputs.compiler }}
          dune-cache: true
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            modular-implicits: https://github.com/modular-implicits/modular-implicits-opam.git#modular-implicits+let_syntax

      - name: Deps
        env:
          compiler: ${{ inputs.compiler }}
        run: |
          opam remote add implicits .
          opam list --color=never --available --depends-on=$compiler --columns=name | sed '/^#/d' | xargs opam install --yes
